.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.sidebar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.route {
  background: #000000;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border: 1px solid #979797;
}

.route h3 {
  color: white;
}

.route ul {
  height: 200px;
  list-style: none;
  overflow: auto;
}
.route li {
  color: white;
  padding: 10px;
}

.route li span {
  border-radius: 50%;
  padding: 2px 10px;
  margin-right: 10px;
  background: #fff;
}

.route li span:before {
  position: absolute;
  content: '';
  border-left: 1px solid white;
  /* left: 14px; */
  bottom: 0;
  height: 100%;
}
